<!--Replaced this with the Angular template for states component of CS142 Project #4
    Problem #2.-->

<div class="cs142-states">
    <div class="cs142-states-header">
        <h1>States Filterer</h1>
    </div>
    <div class="cs142-states-input">
        <text>Type a substring to search for:</text>
        <input class= "cs142-states-input-field" type="text" ng-model="states.inputString">
        <button class= "cs142-states-search" ng-click="filterStates(states.inputString)">Search</button>
    </div>
    <div class="cs142-states-results">
        <div class="cs142-states-substring">
            <text>Search criteria: "{{states.substring}}"</text>
        </div>
        <div class="cs142-states-no-results" ng-if="states.visibleStates.length === 0">
            <text>No results :(</text>
        </div>
        <div class="cs142-states-elements">
            <li ng-repeat="state in states.visibleStates">
                <text>{{state}}</text>
            </li>
        </div>
    </div>
</div>
