<div class="login-register-container">
    <div class="login-register-login-container">
        <text id="login-register-welcome">Welcome Back</text>
        <text>Please Sign In</text>
        <input ng-model="log.loginName" class="login-register-input" placeholder="Username" />
        <input ng-model="log.password" class="login-register-input" placeholder="Password" type="password" /> 
        <button ng-click="login()" class="login-register-button">Login</button>
    </div>
    <div class="login-register-register-container">
        <text id="login-register-register">Register Here</text>
        <input ng-model="register.firstName" class="login-register-input" placeholder="First Name" />
        <input ng-model="register.lastName" class="login-register-input" placeholder="Last Name" />
        <input ng-model="register.loginName" class="login-register-input" placeholder="Username" />
        <input ng-model="register.location" class="login-register-input" placeholder="Location" />
        <input ng-model="register.occupation" class="login-register-input" placeholder="Occupation" />
        <input ng-model="register.description" class="login-register-input" placeholder="Description" />
        <input ng-model="register.password" class="login-register-input" placeholder="Password" type="password" />
        <input ng-model="register.confirmPassword" class="login-register-input" placeholder="Confirm Password" type="password" />
        <button ng-click="register()" class="login-register-button">Register Me</button>
    </div>
</div>